html {
  height: 100%;
}
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0 0 0 0;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.commands li {
  margin: 20px 0;
  padding: 0;
}
h1 {
  margin: 30px 0 30px;
  text-align: center;
  width: 100%;
}
h1.is-remote {
  background: #3498db;
}
.command {
  margin: 20px 0;
}
.command:nth-child(even) .btn-primary {
  background: #16a085;
}
.no-touch .command-link:hover {
  background: #2fe2bf;
}
.no-touch .command-link:active {
  background: #16a085;
}
.command-link.active {
  background: #2fe2bf !important;
}
.remote-link.active {
  background: #5dade2 !important;
}

.remote {
  margin: 0;
  padding: 0;
  position: relative;
}
.remotes-nav li,
.macros-nav li {
  margin: 20px 0;
}
.back {
  position: absolute;
  top: 7px;
  left: 8px;
  cursor: pointer;
}
a,
a:hover,
a:active,
.btn,
.btn:hover,
.btn:active {
  -webkit-transition: 0s !important;
  -moz-transition: 0s !important;
  -o-transition: 0s !important;
  transition: 0s !important;
  -webkit-backface-visibility: hidden !important;
}

.remote.active {
  display: block;
}
.hidden {
  display: none !important;
}

.navbar {
  margin-bottom: 0;
}

.pagination-minimal ul li a:hover, .pagination-minimal ul li a:focus
{
  background-color: #5DADE2;
  border-color: #5DADE2;
}

.pagination li.active.previous a, .pagination li.active.next a
{
  background-color: #5DADE2 !important;
}

.control-panel {
  border-bottom:  5px solid #ECF0F1;
}

.control-panel-title {
  text-align: center;
  margin-top: 15px;
}

.temperature-list {
  margin-left: 10%;
}

.ac-switch {
  padding-left: 35%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.fui-triangle-down {
  min-height: 41px !important;
}

.light-control-button {
  margin: 5% 5% 5% 10%;
  border-radius: 100px;
  width:100%;
}

.light-switch {
  padding-top: 10%;
  padding-left: 15%;
}

.light-slider-container {
  margin-top: 10%;
}

.ui-slider-range {
  background-color: #5dade2;
}

.ui-slider-handle, .ui-slider-handle:active  {
  background-color: #3297da;
}

.ui-slider-handle:hover, .ui-slider-handle:focus {
  background-color: #73b8e6;
}

.special-mode-panel { 
  margin-top: 5%;
  margin-left: 20%;
}

.special-mode-button {
  border-radius: 100px;
}

#special-mode-off {
  margin-left: 1%;
}




